/* Synch all code with Prism.js CSS to avoid discrepancies */
code, pre, .code_cell {
  line-height: 1.5;
  font-variant: normal;
  font-feature-settings: 'tnum';
  font-variant-numeric: tabular-nums;
  white-space: pre-wrap;
  overflow: hidden;
}

/* Code blocks */
pre {
  border: 1px solid #e6e5e4;
  background: #f5f2f0;
  padding: 1em;
}

pre code {
  border: none;
}

/* Inline code */
p code, ul code, ol code, dl code {
  background: #faf9f7;
  padding: 0.5px 2px;
  border: 0.5px solid #e6e5e4;
}

/* Special code blocks - actually note code */
pre.graph {
  border: none;
  width: 100%;
  background: transparent;
  text-align: center;
}

pre code.mermaid {
  text-align: center;
}

code.mermaid {
  width: 100%;
}

code.mermaid svg {
  margin: 20px;
}

pre.math, code.math {
  width: auto;
  max-width: none;
  background: transparent;
  border: none;
  line-height: 1.4;
  padding: 0;
}

figure pre {
  margin: 0;
}

/* From Prism 1.23 default look */
code[class*=language-],
pre[class*=language-] {
  margin: 1.4em auto;
  color:#000;
  background:0 0;
  text-shadow:0 1px #fff;
  text-align:left;
  white-space:pre;
  word-spacing:normal;
  word-break:normal;
  word-wrap:normal;
  line-height:1.5;
  -moz-tab-size:2;
  -o-tab-size:2;
  tab-size:2;
  -webkit-hyphens:none;
  -moz-hyphens:none;
  -ms-hyphens:none;
  hyphens:none
}
code[class*=language-] ::-moz-selection,
code[class*=language-]::-moz-selection,
pre[class*=language-] ::-moz-selection,
pre[class*=language-]::-moz-selection {
 text-shadow:none;
 background:#b3d4fc
}
code[class*=language-] ::selection,
code[class*=language-]::selection,
pre[class*=language-] ::selection,
pre[class*=language-]::selection {
 text-shadow:none;
 background:#b3d4fc
}
@media print {
 code[class*=language-],
 pre[class*=language-] {
  text-shadow:none
 }
}
pre[class*=language-] {
 padding:1em;
 margin:.5em 0;
 overflow:auto
}
:not(pre)>code[class*=language-],
pre[class*=language-] {
 background:#f5f2f0
}
:not(pre)>code[class*=language-] {
 padding:.1em;
 border-radius:.3em;
 white-space:normal
}
.token.cdata,
.token.comment,
.token.doctype,
.token.prolog {
 color:#708090
}
.token.punctuation {
 color:#999
}
.token.namespace {
 opacity:.7
}
.token.boolean,
.token.constant,
.token.deleted,
.token.number,
.token.property,
.token.symbol,
.token.tag {
 color:#905
}
.token.attr-name,
.token.builtin,
.token.char,
.token.inserted,
.token.selector,
.token.string {
 color:#690
}
.language-css .token.string,
.style .token.string,
.token.entity,
.token.operator,
.token.url {
 color:#9a6e3a;
 background:hsla(0,0%,100%,.5)
}
.token.atrule,
.token.attr-value,
.token.keyword {
 color:#07a
}
.token.class-name,
.token.function {
 color:#dd4a68
}
.token.important,
.token.regex,
.token.variable {
 color:#e90
}
.token.bold,
.token.important {
 font-weight:700
}
.token.italic {
 font-style:italic
}
.token.entity {
 cursor:help
}

/* From cdnjs.cloudflare.com/ajax/libs/prism/1.23.0/plugins/line-numbers/prism-line-numbers.min.css */

pre[class*="language-"].line-numbers {
    position: relative;
    padding-left: 3.8em;
    counter-reset: linenumber;
}
pre[class*="language-"].line-numbers > code {
    position: relative;
    white-space: inherit;
}
.line-numbers .line-numbers-rows {
    position: absolute;
    pointer-events: none;
    top: -1.15em;
    font-size: 100%;
    left: -3.8em;
    padding: 1em;
    width: 3em;
    letter-spacing: -1px;
    border-right: 1px solid #e6e5e4;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    background: white;
}
.line-numbers-rows > span {
    display: block;
    counter-increment: linenumber;
}
.line-numbers-rows > span:before {
    content: counter(linenumber);
    color: #999;
    display: block;
    padding-right: 0.8em;
    text-align: right;
}
